doctype html
html(lang="en")
  head
    title= 'Fruit'
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
    link(href='style/style.css', rel='stylesheet')
  body
    .container-fluid
      .row
        .col-md-12#top
          h2= 'FRUIT'
        .col-md-8#map
        .col-md-4#menu
          span= 'Select Fruit:'
          select#fruitSelect.form-control
            option= 'All'
          br
          button#unFilter.btn.btn-block= 'Undo City Filter'
        .col-md-12#sheet
          h4#loading= 'please wait...'
          table#table.table.table-bordered.table-condensed.table-striped
      .row: .col-xs-12
        p Blake Thomas 
    block scripts
      script(src='http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js')
      script(src='http://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.1.0/lodash.min.js')
      script(src='js/saveSvgAsPng.js')
      script(src='js/script.js')
      script(src='js/ui.js')
      script(src='js/table.js')
      script(src='js/map.js')
            